<div class="row">
  <%= link_to '掲示板作成', new_board_path, class: 'btn btn-dark col-sm-3 mb-3' %>
</div>
<div class="row">
  <% @boards.each do |board| %>
    <form class="col-sm-3 card" action="/boards/<%= board.id %>">
      <button style="cursor: pointer;">
        <img class="text-center card-img-top mt-2" src="<%= board.book_thumbnail_link %>">
        <div class="card-body">
          <h4 class="card-title"><%= board.book_title %></h4>
          <h5 class="card-text"><%= board.book_author %></h5>
        </div>
      </button>
    </form>
  <% end %>
</div>