<% current_board = Board.find(params[:id]) %>
<div class="row">
  <div class="col-sm-3">
    <div class="card mb-3">
      <img class="text-center card-img-top mt-2" src="<%= current_board.book_thumbnail_link %>">
      <div class="card-body">
        <h4 class="card-title"><%= current_board.book_title %></h4>
        <h5 class="card-text"><%= current_board.book_author %></h5>
        <h6 class="card-text">掲示板作成者：<%= User.find(current_board.user_id).name %></h6>
        <p class="card-text">作成日時：<br><%= current_board.created_at %></p>
      </div>
    </div>
    <%= link_to 'コメント投稿', new_board_comment_path(current_board.id), class: 'btn btn-dark btn-block' %>
  </div>

  <div class="col-sm-8 offset-sm-1">
    <% @comments = current_board.comments.order(id: :desc).page(params[:page]).per(50) %>
    <% comment_count = @comments.count %>
    <% @comments.each do |comment| %>
      <div class="row mb-3">
        <div class="col-sm-11">
          <h4><%= comment_count %> <%= User.find(comment.user_id).name %> <%= comment.created_at %></h4>
          <% comment_count -= 1 %>
          <h5 class="ml-3"><%= raw(h(comment.content).gsub(/\r\n|\r|\n/, "<br>")) %></h5>
        </div>
        <div class="col-sm-1">
          <% if logged_in? && current_user.id == comment.user_id %>
            <%= link_to '削除', board_comment_path(params[:id], comment.id), method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-dark' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>